body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #514e4e;
    background-color: #ffffff;
}

header {
    background-color: #efeded;
    border-bottom: 3px solid #007BFF;
    color: #0e2904;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo {
    margin: 0;
}

nav {
    position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    display: block;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #007BFF;
    color: #fff;
}

.hamburger {
    display: none;
}

footer {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f4fff0;
    text-align: center;
    padding: 20px;
    position: relative;
    margin: 0;
}

.footer-socials,
.footer-contact,
.footer-links {
    margin: 10px 0;
}

.footer-links a {
    color: #bcd0b4;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

#scrollTopBtn:hover {
    background-color: #0056b3;
}

.mentor-section {
    padding: 50px;
    background-color: #f9f9f9;
}

.mentor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filter {
    display: flex;
    align-items: center;
    gap: 15px;
}

.filter select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #525050;
    font-size: 14px;
}

.mentor-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.mentor-card {
    background: linear-gradient(129deg, #b9b8b8, #e8d0d0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.mentor-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(71, 68, 68, 0.2);
    background: linear-gradient(129deg, #ebcfcf, #9ba8b7);
}

.mentor-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    border-radius: 10px;
    object-fit: cover;
}

.mentor-card h3 {
    margin: 15px 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.mentor-card p {
    color: #666;
}

.mentor-card a {
    text-decoration: none;
    color: #677584;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.email-form {
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
}

.email-form input[type="email"] {
    padding: 12px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.email-form button {
    padding: 10px 20px;
    background-color: #616f7d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.email-form button:hover {
    background-color: #0056b3;
}

.see-more {
    text-align: center;
    margin-top: 30px;
}

.see-more a {
    color: #6689a9;
    text-decoration: none;
    font-weight: bold;
}
