#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #00A6FF; 
    color: white;
    border: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 60px;
    padding: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    z-index: 100;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

#scrollTopBtn:hover {
    background-color: #007BBF; 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25); 
    transform: translateY(-2px); 
}

#scrollTopBtn i {
    font-size: 25px; 
    margin: 0; 
    padding: 0; 
    line-height: 1; 
}

#scrollTopBtn:focus {
    outline: none;
    box-shadow: 0px 0px 0px 4px rgba(0, 166, 255, 0.5);
}

::-webkit-scrollbar {
    width: 0.8em;
}

::-webkit-scrollbar-track {
    background: #333333; 
    border-radius: 100vw;
    margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
    background-color: #00A6FF; 
    border-radius: 10vw;
}

@supports (scrollbar-color: #00A6FF) {
    * {
        scrollbar-color: #00A6FF #333333; 
    }
}
