@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
/* theme toggle switch */

.checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox-label {
    background: linear-gradient(82deg, #ffffff, #00796b);
    width: 60px;
    height: 28px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .theme-btn{
    height: 23px;
    height: 23px;
  }
  .checkbox-label .ball {
    background-color: #000000;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.3s linear;
    
  }
  
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(31px);
    
  }
  
/* 
.theme-switch::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: left 0.3s ease-in-out, background-image 0.3s ease-in-out;
    background-image: url("../Assets/moon.png");
}

.theme-switch.dark-theme::before {
    left: 33px;
    background-image: url("../Assets/sun.png");
} */

.contact-bg{
    height: 40vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(assets/booking.jpeg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-bg h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.contact-bg h2{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}
.line div{
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
    height: 3px;
    width: 70px;
    background:  #00c6ff;
    border-radius: 5px;
}
.line{
    display: flex;
    align-items: center;
}
.line div:nth-child(2){
    width: 10px;
    height: 10px;
    background:  #00c6ff;
    border-radius: 50%;
}
.text{
    font-weight: 300;
    opacity: 0.9;
}
.contact-bg .text{
    margin: 1.6rem 0;
}
.contact-body{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info{
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}
.contact-info span{
    display: block;
}
.contact-info div{
    margin: 0.8rem 0;
    padding: 1rem;
}
.contact-info span .fas{
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color:  #00c6ff;
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-info .text{
    padding-top: 0.4rem;
}
.contact-form {
    padding: 2rem 0;
    border-top: 1px solid #c7c7c7;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}
.contact-form form{
    padding-bottom: 1rem;
    width: 155%;
}
.form-control{
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
}
.form-control:focus{
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}

/* Form Hover Effect
.contact-form form:hover {
    box-shadow: 0 0 10px rgba(0, 198, 255, 0.5);
    border: 1px solid #00c6ff;
    transition: box-shadow 0.3s ease, border 0.3s ease;
} */

/* Field Hover Effect */
.form-control:hover {
    border-color: #00c6ff;
    box-shadow: 0 0 6px rgba(0, 198, 255, 0.5);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 400px;
}

.send-btn{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background:  #00c6ff;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}

/* Button Hover Effect */
.send-btn:hover {
    background: #0095e0;
    opacity: 1;
    transform: translateY(-2px); /* slight lift effect */
    transition: background 0.3s ease, transform 0.3s ease;
}

.contact-form > div img{
    width: 100%;
}
.contact-form > div{
    margin: 0 auto;
    text-align: center;
}
.social-links{
    display: flex;
    justify-content: center;
}
.social-links a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
}
.social-links a:hover{
    color:  #00c6ff;
    border-color: #00c6ff;
}
@media screen and (min-width: 768px){
    .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 992px){
    .contact-bg .text{
        width: 50%;
    }
}
@media screen and (min-width: 1200px){
    .contact-info{
        grid-template-columns: repeat(4, 1fr);
    }
}


/* new footer properties */
.footer {
    padding: 5rem 1rem;
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
    background-color: black;
  }
  
  .footer-col img {
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    position: relative;
    bottom: 15px;
  }
  
  .footer-p {
    opacity: 0.7;
    margin-bottom: 2rem;
    color: white;
    display: block;
  }
  
  .footer-social {
    display: flex;
    align-items: center;
  }
  
  .footer-social i {
    color: white;
    font-size: 1.25rem;
    margin-right: 1rem;
    opacity: 0.7;
    border: 2px solid white;
    border-radius: 100%;
    padding: 0.5rem;
    transition: background-color 0.3s ease 0s;
  }
  
  .footer-social i:hover {
    opacity: 1;
    background-color: #35373b;
  }
  
  .h46 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
  }
  
  .footer-col-main {
    margin-top: -1rem;
  }
  
  .footer-col-main a {
    display: block;
    margin-bottom: 1rem;
    color: white;
    opacity: 0.7;
    text-decoration: none;
    transition: opacity 0.3s ease 0s;
  }
  
  .footer-col-main a:hover {
    opacity: 1;
  }
  
  .footer-bar {
    margin: auto;
    padding: 1rem;
    font-size: 0.8rem;
    color: white;
    background-color: black;
  }
  
  @media (max-width: 900px) {
    .footer {
        grid-template-columns: 1fr 200px;
    }
  }
  /* this is only end of footer style */