*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }/* Styling for the pop-up */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

button{
    transition: all 0.3s ease;
  }

  button:hover{
    transform: scale(1.1);
  }

  .btn{
    transition: all 0.3s ease;
  }

  .btn:hover{
    transform: scale(1.1);
  }

.popup-content {
    display: flex;
    background-color: #FFFFFF;
    width: 100%;
    max-width: 800px;
    height: 450px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.popup-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* #popuplogo{
    height: 70px;
    width: 70px;
    position: relative;
    top: 0;
    left: 356px;
} */

.popup-right {
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-right h1 {
    font-size: 28px;
    color: #1e1e1e;
    margin-bottom: 10px;
    margin-top: 55px;
}

.popup-right h2 {
    font-size: 22px;
    color: #424141;
    margin-bottom: 20px;
}

.popup-right p {
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.signup-btn {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.signup-btn:hover {
    background-color: #218838;
}

.no-thanks {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    margin-bottom: 25px;
}

.no-thanks:hover {
    text-decoration: underline;
    font-size: 15px;
}

.terms {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}


.terms a {
    color: #000000;
    text-decoration: underline;
}
